{%- comment -%}
  renders icon image with description row on page templates
  usage
    {%- render 'image-icon', item: block, prefix_class: 'section_scheme_class' -%}
{%- endcomment -%}

{%- liquid
  capture loading_attr
    if section.index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture
-%}
<div class="image-icn">
  <i class="image-icn_image">
    {%- if item.settings.image != blank -%}
      {%- liquid
        capture image_alt
          if item.settings.image.alt != blank
            echo item.settings.image.alt
            else
              echo item.settings.heading | escape
          endif
        endcapture
      -%}
      {{- item.settings.image | image_url: width: 200 | image_tag: class: '', loading: loading_attr, widths: '100, 200', sizes: '(max-width: 767px) 10vw', alt: image_alt -}}
      {%- else -%}
        {{- 'product-apparel-1' | placeholder_svg_tag: '' -}}
    {%- endif -%}
  </i>
  <div class="image-icn_descr-wrap">
    {%- unless item.settings.heading == blank -%}
      <strong class="image-icn_title h6 mty --word-break">
        {{- item.settings.heading -}}
      </strong>
    {%- endunless -%}
    {%- unless item.settings.description == blank -%}
      <div class="mty text-size--medium image-icn_description --word-break">
        {{- item.settings.description -}}
      </div>
    {%- endunless -%}
  </div>
</div>