{%- comment -%}
  renders load more button on section templates
  usage
    {%- render 'load-more', paginate: paginate, infinite: false -%}
{%- endcomment -%}
{%- if paginate.parts.size > 0 -%}
  {%- if paginate.next -%}
    <div class="pagination-wrapper" data-paging-loader-parent="">
      <grid-load-more
        data-url="{{- paginate.next.url -}}"
        data-render-grid-load-more=""
        {% if infinite %}
          data-infinite="true"
        {% endif %}
      >
        <button class="button button--primary load-more_button" type="button">
          {{- 'pagination.load_more' | t -}}
          <span class="load-more_loader hidden --v-align-middle --justify-center" data-loader="">
            {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'loader' -%}
            <span class="visually-hidden">
              {{- 'accessibility.loader' | t -}}
            </span>
          </span>
        </button>
      </grid-load-more>
    </div>
  {%- endif -%}
{%- endif -%}