{{- 'age-verifier-modal.css' | asset_url | stylesheet_tag -}}
{%- render 'age-verifier-modal' -%}
<script defer>
  const button = document.getElementById('age-validator-fail');
  button.addEventListener('click', function(e){
    e.preventDefault();
    const errorContainer = document.getElementById('age-error-container');
    errorContainer.classList.remove('hidden');
  });
</script>
 
{% schema %}
{
  "name": "t:sections.age_verifier.name",
  "limit": 1,
  "enabled_on": {
    "groups": [
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.age_verifier.settings.buttons.accept.content"
    },
    {
      "type": "text",
      "id": "button_label_1",
      "label": "t:settings_schema.buttons.settings.button.label",
      "default": "YES, I'M OVER 18"
    },
    {
      "type": "header",
      "content": "t:sections.age_verifier.settings.buttons.reject.content"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": "t:settings_schema.buttons.settings.button.label",
      "default": "NO, I'M UNDER 18"
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "select",
      "id": "age_position",
      "label": "t:positions.label",
      "options": [
        {
          "value": "centered",
          "label": "t:positions.options.center"
        },
        {
          "value": "bt-left",
          "label": "t:positions.options.bottom_left"
        },
        {
          "value": "bt-right",
          "label": "t:positions.options.bottom_right"
        }
      ],
      "default": "centered"
    },
    {
      "type": "text_alignment",
      "id": "age_text_alignment",
      "label": "t:alignments.content.label",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.age_verifier.settings.buttons.style.label"
    },
    {
      "type": "color_scheme",
      "id": "age_color_scheme",
      "default": "scheme3",
      "label": "t:color_scheme.label"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.age_verifier.blocks.image.name",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:image.label"
        },
        {
          "type": "checkbox",
          "id": "hide_image_on_mobile",
          "label": "t:sections.age_verifier.blocks.image.hide.label",
          "default": false
        },
        {
          "type": "range",
          "id": "block_spacing",
          "label": "t:sections.product_blocks.mb_margin.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 15,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:heading.name",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:heading.label",
          "default": "Age verifier"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sizes.heading.label",
          "options": [
            {
              "value": "heading_x_large",
              "label": "t:sizes.heading.options.opt_2.label"
            },
            {
              "value": "heading_large",
              "label": "t:sizes.heading.options.opt_3.label"
            },
            {
              "value": "heading_medium",
              "label": "t:sizes.heading.options.opt_4.label"
            }
          ],
          "default": "heading_large"
        },
        {
          "type": "select",
          "id": "heading_weight",
          "label": "t:weight.heading.label",
          "options": [
            {
              "value": "bold",
              "label": "t:weight.heading.options.opt_1.label"
            },
            {
              "value": "semi_bold",
              "label": "t:weight.heading.options.opt_5.label"
            },
            {
              "value": "medium",
              "label": "t:weight.heading.options.opt_2.label"
            },
            {
              "value": "normal",
              "label": "t:weight.heading.options.opt_3.label"
            }
          ],
          "default": "bold"
        },
        {
          "type": "range",
          "id": "block_spacing",
          "label": "t:sections.product_blocks.mb_margin.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 15,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:sections.age_verifier.blocks.text.name",
      "type": "text",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "t:description_text.label",
          "default": "<p>You must be 18 years old to access this website. Please verify your age.</p>"
        },
        {
          "type": "select",
          "id": "block_text_size_heading",
          "label": "t:sizes.description_text.label",
          "options": [
            {
              "value": "heading_medium",
              "label": "t:sizes.heading.options.opt_4.label"
            },
            {
              "value": "heading_small",
              "label": "t:sizes.heading.options.opt_5.label"
            },
            {
              "value": "heading_x_small",
              "label": "t:sizes.heading.options.opt_6.label"
            }
          ],
          "default": "heading_x_small"
        },
        {
          "type": "select",
          "id": "description_weight",
          "label": "t:weight.description_text.label",
          "options": [
            {
              "value": "bold",
              "label": "t:weight.heading.options.opt_1.label"
            },
            {
              "value": "semi_bold",
              "label": "t:weight.heading.options.opt_5.label"
            },
            {
              "value": "medium",
              "label": "t:weight.heading.options.opt_2.label"
            },
            {
              "value": "normal",
              "label": "t:weight.heading.options.opt_3.label"
            }
          ],
          "default": "medium"
        },
        {
          "type": "range",
          "id": "block_spacing",
          "label": "t:sections.product_blocks.mb_margin.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 34,
          "unit": "px"
        }
      ]
    }
  ]
}
{% endschema %}