.pagination-wrapper{
  padding-left: var(--cp-spacer-left, 15px);
  padding-right: var(--cp-spacer-right, 15px);
}

.pagination__list {
  flex-wrap: wrap;
}

.pagination_link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.905rem;
  transition: color 0.35s ease;
  padding: 0 1rem;
  display: block;
}

a.pagination_link--active{
  color: var(--section-active-hover-color);
}

.pagination-wrapper{
  margin-top: 47px;
}

.pagination-wrapper,
.pagination,
.pagination_list{
	display: flex;
  width: 100%;
  justify-content: center;
}

.load-more_button{
  display: flex;
  align-items: center;
  gap: 8px;
}

.load-more_loader{
  line-height: 1rem;
}

@media (min-width: 576px){
  .pagination_link {
    padding: 0.75rem 1.7rem;
  }
}

@media (min-width: 992px){
  .pagination-wrapper{
    margin-top: 78px;
  }
}