.before-after .heading-head{
  margin-bottom: 40px;
}

.bf-outer-wrap,
.bf-caption{
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 26px;
}

.before-after_description{
  --mt-top: 24px;
}

.bf-wrapper{
  position: relative;
  display: block;
}

.bf-wrapper,
.bf-wrapper_pointer input[type="range"],
.bf-wrapper_image--before,
.bf-wrapper_image--after,
.bf-wrapper_pointer,
.bf-wrapper_point{
  width: 100%;
}

.bf-wrapper, .bf-wrapper_image, .bf-wrapper_image--after, .bf-wrapper_pointer{
  --height-factor: 0.5;
}

.bf-wrapper_image--after{
  clip-path: inset(0% 0% 0% var(--after-placement, 50%));
  overflow: hidden;
  z-index: 1;
}

.bf-wrapper_image--after,
.bf-wrapper_pointer,
.bf-wrapper_image--before,
.bf-wrapper_point::after,
.bf-wrapper_point{
  height: 100%;
}

.bf-wrapper_image--before,
.bf-wrapper_image--after,
.bf-wrapper_pointer,
.bf-wrapper_point,
.bf-wrapper_point::before,
.bf-wrapper_point::after{
  left: 0;
  top: 0;
}

.bf-wrapper_image--before,
.bf-wrapper_image--after,
.bf-wrapper_pointer,
.bf-wrapper_point,
.bf-wrapper_point::before,
.bf-wrapper_point::after{
  position: absolute;
}

.bf-wrapper_pointer,
.bf-caption{
  display: flex;
}

.bf-caption_col{
  width: 50%;
}

.bf-caption_col--first{
  padding-right: 8px;
}

.bf-caption_subheading{
  --heading-size-factor: 0.714287;
}

.bf-wrapper_pointer input[type="range"]{
  --focus-outline-offset: 1px;
  -webkit-appearance: none;
  background: transparent;
  cursor: grab;
  margin: 0;
  z-index: 2;
}

.bf-wrapper_pointer input[type="range"]::-webkit-slider-thumb{
  opacity: 0;
}

.bf-wrapper_pointer input[type="range"]::-moz-range-thumb{
  opacity: 0;
}

.bf-wrapper_pointer input[type="range"]::-webkit-slider-thumb:focus,
.bf-wrapper_pointer input[type="range"]::-webkit-slider-thumb:focus-visible{
  outline: none;
}

.bf-wrapper_pointer input[type="range"]:focus::-webkit-slider-thumb,
.bf-wrapper_pointer input[type="range"]:focus-visible::-webkit-slider-thumb{
  opacity: 0;
}

.bf-wrapper_error-text{
  color: var(--section-error-color);
}

.bf-wrapper_point::before,
.bf-wrapper_point::after{
  content: '';
  pointer-events: none;
}

.bf-wrapper_point::before{
  height: 40px;
  width: 40px;
  top: 50%;
  left: var(--after-placement);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAqCAYAAAD8pHgAAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABdaVRYdFNuaXBNZXRhZGF0YQAAAAAAeyJjbGlwUG9pbnRzIjpbeyJ4IjowLCJ5IjowfSx7IngiOjUyLCJ5IjowfSx7IngiOjUyLCJ5Ijo0Mn0seyJ4IjowLCJ5Ijo0Mn1dfZuDfyEAAADqSURBVGhD7dqxDYJQFIXhqz0sAAs8FqBlIkqYiBJmoGUBWAAWgAHUx7sGEgFfeULOlxg9jeZPtLo+Xh9yI099vo3bBXl/5bqu01ebJEkkCAJdv5Zlkb7vdTlhGIoxRtexaZpkHEddThzHEkWRrnNeQfbNsyzTtWnbdv2gM03TSFEUupw0TaWqKl3HyrKUuq51OXmer49/+BtCxyB0DELHIHQMQscgdAxCxyB0DELHIHQMQscgdAxCxyB0DELHIHQMQud1kpznWYZh0LWx58Ur9pRp76V7PjdWe5e199k9e1+9On9+8X8K2ETeXApHPCeuO1oAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% auto;
  background-color: #fff;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  content: '';
  z-index: 2;
}

.bf-wrapper_point::after{
  border-right: 1px solid var(--section-background-color);
  width: calc(var(--after-placement, 50%) + 1px);
  z-index: 1;
}

.bf-wrapper_image:nth-child(1), .bf-wrapper_image:nth-child(2){
  border-radius: var(--section-radius);
}

.before-after-content .--no-contain .bf-wrapper_image:nth-child(1), 
.before-after-content .--no-contain .bf-wrapper_image:nth-child(2),
.before-after-content_wrapper.--full-width .bf-wrapper_image:nth-child(1),
.before-after-content_wrapper.--full-width .bf-wrapper_image:nth-child(2){
  border-radius: 0;
}

.bf-wrapper_image svg, .bf-wrapper_image img{
  border-radius: inherit;
}

.bf-caption.--row-reverse{
  margin-left: auto;
}

@media (min-width: 576px){
  .bf-wrapper,
  .bf-wrapper_image,
  .bf-wrapper_image--after,
  .bf-wrapper_pointer{
    --height-factor: 0.7;
  }
}

@media (min-width: 768px){
  .bf-wrapper,
  .bf-wrapper_image,
  .bf-wrapper_image--after,
  .bf-wrapper_pointer{
    --height-factor: 0.85;
  }

  .bf-outer-wrap,
  .bf-caption{
    margin-bottom: 0;
  }

  .bf-caption{
    padding-top: 20px;
  }
}

@media (min-width: 992px){
  .bf-wrapper,
  .bf-wrapper_image,
  .bf-wrapper_image--after,
  .bf-wrapper_pointer{
    --height-factor: 1;
  }
}

@media (min-width: 1200px){
  .bf-wrapper_point::before{
    height: 60px;
    width: 60px;
  }
}