.specs-table,
.specs-table thead th,
.specs-table thead td{
  border: 0;
}

.specs-table th,
.specs-table td{
  border-width: 0 0 1px;
}

.specs-table th:first-child,
.specs-table td:first-child{
  padding-left: 0;
}

.specs-table th:last-child,
.specs-table td:last-child{
  padding-right: 0;
}