.locator-row_caption-title,
.locator-row_image-wrap{
  display: block;
}

.locator-row_caption-title{
  margin-bottom: 17px;
  margin-top: 0;
}

.locator-row_content-block{
  padding: 32px 20px 31px 20px;
}

.locator-row_heading {
  --mt-bottom: 25px;
  --mt-top: 25px
}

.locator-row_store-hours {
  margin-top: 34px;
}

.locator-row_address{
  --mt-top: 15px;
}

.locator-row_address-location p, .locator-row_store-time p{
  margin-top: 4px;
  margin-bottom: 0;
}

.locator-row_row:first-child,
.locator-row_store-time p:last-child {
  margin-top: 0;
}

.locator-row_image-wrap{
  position: relative;
  line-height: 0;
}

.locator-row_image-wrap, .locator-row_image-wrap img{
  height: 256px;
}

.locator-row--iframe{
  line-height: 0;
  height: 100%;
  position: relative;
}

.locator-row--iframe iframe{
  margin: 0;
  width: 100%;
  height: 500px;
}

.locator-row_col--iframe,
.locator-row_description{
  margin-top: 20px;
}

@media (min-width: 768px) {
  .locator-row_row{
    display: flex;
  }

  .locator-row_col--iframe{
    flex-grow: 1;
  }

  .locator-row_col-description{
    width: 60%;
  }

  .locator-row_row:first-child,
  .locator-row_col--iframe {
    margin-top: 0;
  }

  .locator-row_heading {
    --mt-bottom: 25px;
    --mt-top: 0px
  }

  .locator-row--iframe iframe{
    height: 100%;
  }
}

@media (min-width: 992px) {
  .locator-row_content-block{
    padding: 62px 35px 41px 33px;
  } 
  
  .locator-row_address{
    --mt-top: 32px;
  }

  .locator-row_col-description{
    width: 70%;
  }
}

@media (min-width: 1200px){
  .locator-row_col-description{
    width: 55%;
  }
}