.featured-collection{
  --desktop-columns-count: 1;
  --q-align-value: var(--mobile-q-align);
}

.featured-collection .heading-head{
  width: 100%;
  margin-bottom: calc(48px / 1.6);
}

.featured-collection_description{
  --mt-top: 12px;
}

.featured-banner_image{
  padding-top: 0;
  height: 323px;
}

.featured-collection_banners-col{
  grid-column: span 2;
}

.featured-banner_marquee-col{
  padding-left: 5px;
  padding-right: 5px;
}

.featured-collection_wrapper > .button {
  margin-top: 30px;
}

.featured-collection_wrapper .drag-slider_image img,
.featured-collection_wrapper .drag-slider_image svg{
  padding: 2px;
}

@media (min-width: 768px){
  .featured-collection{
    --desktop-columns-count: 3;
    --q-align-value: var(--desktop-q-align);
  }

  .featured-collection_banners-col{
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .featured-collection_grid{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(var(--desktop-columns-count), minmax(0, 1fr));
  }
  
  .featured-collection_grid .grid_col{
    max-width: none;
    flex: unset;
  }
}

@media (min-width: 1200px){
  .featured-collection{
    --desktop-columns-count: var(--columns-count);
  }

  .featured-collection .heading-head{
     margin-bottom: 48px;
  }
}
