.logo-list_wrapper,
.logo-list_list,
.logo-list_list li,
.logo-list .marquee-component_col,
.logo-list_list-logo{
  display: flex;
}

.logo-list_wrapper{
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.logo-list .container-fluid,
.logo-list .marquee-component_col{
  padding-left: 0;
  padding-right: 0;
}

.container-fluid .logo-list_list-wrapper{
  margin-left: -15px;
  margin-right: -15px;
}

.logo-list_heading{
  --headings-font-weight: 500;
  --heading-size-factor: 0.6;
  font-size: 1.8rem;
}

.logo-list_list-wrapper{
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  width: 100%;
}

.container-fluid .logo-list_wrapper{
  overflow: visible;
}

.logo-list_list{
  width: 100%;
  flex-wrap: wrap;
  row-gap: 30px;
}

.logo-list marquee-component,
.logo-list_list{
  margin-top: auto;
  margin-bottom: auto;
}

.logo-list_list li{
  flex: 0 0 calc(100% / 2);
}

.logo-list_list li,
.logo-list .marquee-component_col{
  height: 84px;
}

.logo-list .marquee-component_col{
  width: calc(var(--cp-width) * 1px / 7 - (var(--cp-spacer-left) + var(--cp-spacer-right)));
}

.logo-list .img-placeholder{
  width: 100%;
  height: 69px;
}

.logo-list_list-logo{
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.logo-list_list-logo img,
.logo-list .img-placeholder{
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  margin: auto;
}

.logo-list_list-logo:hover img,
.logo-list_list-logo:hover svg{
  filter: grayscale(0%);
}

.logo-list_list-logo img{
  width: auto;
  max-height: 100%;
}

.logo-list_list-logo > svg > path{
  fill: currentColor;
}

@media (min-width: 576px){
  .logo-list_list li{
    flex: 0 0 calc(100% / 4);
  }
}
@media (min-width: 992px){
  .logo-list_wrapper{
    flex-direction: row;
  }

  .logo-list .container-fluid .logo-list_list-wrapper{
    margin-left: 0;
  }

  .logo-list_heading-wrapper{
    flex-shrink: 0;
    width: 200px;
  }

  .logo-list_heading-wrapper,
  .logo-list_col{
    display: flex;
  }

  .logo-list_heading{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .logo-list_list li{
    flex: 0 0 calc(100% / 5);
  }
}
@media (min-width: 1200px){
  .logo-list_list li{
    flex: 0 0 calc(100% / 7);
  }
}