.main-reset-password{
  --section-padding-top: 0;
  --section-padding-bottom: 0;
  position: relative;
}

.main-reset-password_wrapper{
  display: flex;
  justify-content: center;
}

.main-reset-password_column{
  flex-grow: 1;
  flex-basis: 0;
  min-width: 50%;
}

.main-reset-password_btn-wrapper{
  --mt-top: 20px;
}

.main-reset-password_heading-head{
  margin-bottom: 29px;
}

.main-reset-password_subTitle{
  color: var(--section-error-color);
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.main-reset-password_form-align{
  padding-top: 44px;
  padding-bottom: 44px;
  max-width: 595px;
  position: relative;
}

.main-reset-password_form-btn{
  width: 100%;
  display: block;
}

.main-reset-password_form-btn.button--link,
.main-reset-password_pass-btn.button--link{
  --button-padding-x: 0;
}

.main-reset-password_pass-btn .button_icn,
.main-reset-password_form-btn .button_icn{
  vertical-align: -0.4em;
  margin-right: 8px;
}

.main-reset-password_form-btn .button_icn,
.main-reset-password_pass-btn--back .button_icn,
.main-reset-password_btn--back .button_icn{
  vertical-align: -0.15em;
}

.main-reset-password_results-wrap:empty{
  display: none;
}

.main-reset-password_field + .main-reset-password_field{
  margin-top: 27px;
}

.main-reset-password_foot-wrapper{
  --mt-top: 47px;
}

.main-reset-password .form__message{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
  margin-top: 11px;
}

.main-reset-password_form-input-lable{
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.main-reset-password .success-message {
  text-align: center;
  margin-top: 39px;
  font-size: 2rem;
  line-height: 3.3rem;
}

.main-reset-password .success-message p {
  margin: 0;
}

.main-reset-password .success-message .image {
  margin-bottom: 10px;
}

.main-reset-password .errors-list_link{
  text-decoration: none;
}

.main-reset-password .error-email{
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.main-reset-password .form__message,
.main-reset-password .error-email{
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-reset-password .errors-list{
  padding-left: 37px;
  margin-bottom: 30px;
}

@media(min-width: 768px){
  .main-reset-password .container-fluid{
    --cp-spacer-left: 0;
    --cp-spacer-right: 0;
  }

  .main-reset-password_form-align{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 992px){
  .main-reset-password_heading-head{
    margin-bottom: 48px;
  }

  .main-reset-password_btn-wrapper{
    --mt-top: 32px;
  }
}