.main-password{
  --section-padding-top: 0;
  --section-padding-bottom: 0;
  position: relative;
}

.main-password_wrapper{
  display: flex;
  justify-content: center;
}

.main-password_column{
  flex-grow: 1;
  flex-basis: 0;
  min-width: 50%;
}

.main-password_column--image{
  display: none;
}

.main-password_logo-heading,
.main-password_img,
.main-password_logo-image img,
.main-password_form-btn{
  width: 100%;
}

.main-password_img{
  position: relative;
  height: 100%;
}

.main-password_logo-image img{
  padding: 2px;
  
}

.main-password_column--form{
  min-height: calc(100vh - 71px);
}

.main-password_btn-wrapper{
  --mt-top: 32px;
}

.main-password_heading-head{
  margin-bottom: 48px;
}

.main-password_form-align{
  padding-top: 44px;
  padding-bottom: 44px;
  max-width: 595px;
  width: 100%;
  position: relative;
}

.main-password_form-btn{
  display: block;
}

.main-password_form-btn.button--link,
.main-password_pass-btn.button--link{
  --button-padding-x: 0;
}

.main-password_pass-btn .button_icn,
.main-password_form-btn .button_icn,
.main-password_role-icn{
  vertical-align: -0.4em;
  margin-right: 8px;
}

.main-password_form-btn .button_icn,
.main-password_pass-btn--back .button_icn,
.main-password_btn--back .button_icn{
  vertical-align: -0.15em;
}

.transit{
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  opacity: 0;
  max-height: 0;
  display: none;
}

.transit--in{
  opacity: 1;
  max-height: 9999px;
  animation-name: opac-in;
  display: block;
  opacity: 1;
}

.transit--in:focus{
  outline: 2px solid currentColor !important;
}

.transit--out{
  opacity: 0;
  max-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999;
}

.main-password_error-wrapper,
.main-password_success-wrapper,
.main-password_results-wrap{
  color: var(--section-error-color);
  font-size: 14px;
  margin-top: 10px;
  outline: none;
}

.main-password_error-wrapper{
  text-align: right;
}

.main-password_success-wrapper{
  color: var(--section-success-color);
}

.main-password_results-wrap:empty{
  display: none;
}

.main-password_logo-heading{
  --mt-bottom: 24px;
  --logo-width: var(--logo-mobile-width);
  max-width: var(--logo-width);
  display: inline-block;
  vertical-align: top;
}

.main-password_shop-msg{
  margin-top: 24px;
}

.main-password_pass-icn{
  color: var(--section-foreground-color);
  display: block;
  margin-top: 40px;
  margin-bottom: 23px;
  line-height: 1;
}

@media(min-width: 768px){
  .main-password_column--image{
    display: block;
  }

  .main-password .container-fluid{
    --cp-spacer-left: 0;
    --cp-spacer-right: 0;
  }

  .main-password_form-align{
    padding-left: 40px;
    padding-right: 40px;
  }

  .main-password_logo-heading{
    --logo-width: var(--logo-desktop-width);
  }
}