.main-page{
  padding-top: 0;
  padding-bottom: 0;
  text-align: var(--mobile-text-alignment);
}

.main-page_wrapper{
  --sec-pt-top: calc(var(--section-padding-top) * 0.45);
  --sec-pt-bottom: calc(var(--section-padding-bottom) * 0.45);
  padding-top: var(--sec-pt-top, 35px);
  padding-bottom: var(--sec-pt-bottom, 35px);
}

.main-page_heading {
  --mt-bottom: 29px;
}

@media (min-width: 768px) {
  .main-page{
    text-align: var(--desktop-text-alignment);
  }

  .main-page_wrapper {
    --sec-pt-top: calc(var(--section-padding-top) * 0.65);
    --sec-pt-bottom: calc(var(--section-padding-top) * 0.65);
  }
}

@media (min-width: 1200px){
  .main-page_wrapper{
    --sec-pt-top: var(--section-padding-top);
    --sec-pt-bottom: var(--section-padding-bottom);
  }
}