.richtext .mty{
  --spacer: calc(var(--block-spacing) * 0.6);
  --mt-bottom: var(--spacer);
}

.richtext_caption{
  display: block;
}

.richtext_button{
  display: inline-flex;
  margin-left: 7px;
  margin-right: 7px;
}

@media (min-width: 768px){
  .richtext .mty{
    --spacer: var(--block-spacing);
  }
}